---
http_interactions:
- request:
    method: get
    uri: https://test.kanbantool.com/api/v1/boards.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kanbantooltoken:
      - 123456789ABC
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"c3798def8ad2a5c47c71666aab890d61"'
    body:
      encoding: US-ASCII
      string: !  '[{ "board":{ "owner_id":
        null,"created_at":"2013-04-05T14:49:07+01:00","cumulative_flow_updated_at":"2013-05-10T03:30:45+01:00","folder_id":
        3029,"version":
        620,"board_template_id":"team_basic","last_activity_on":"2013-05-10","deleted_at":
        null,"id": 33223,"name":"Test Board
        1","external_id_sequence": 1,"description":"My
        description","position": null }},{ "board":{ "owner_id":
        null,"created_at":"2013-04-05T14:49:07+01:00","cumulative_flow_updated_at":"2013-05-10T03:30:45+01:00","folder_id":
        3029,"version":
        620,"board_template_id":"team_basic","last_activity_on":"2013-05-10","deleted_at":
        null,"id": 33223,"name":"Test Board
        1","external_id_sequence": 1,"folder":{ "owner_id":
        null,"created_at":"2013-02-07T14:45:54+00:00","deleted_at":
        null,"name":"Some Folder","id": 3029,"position":
        null,"description":""},"description":"My
        description","position": null }}]'
  recorded_at: Fri, 10 May 2013 14:35:49 GMT
recorded_with: VCR 2.4.0
