---
http_interactions:
- request:
    method: get
    uri: https://test.kanbantool.com/api/v1/boards/12345/tasks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Kanbantooltoken:
      - 123456789ABC
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"c570831d8fdab2d078d64bbdb7162e1e"'
    body:
      encoding: US-ASCII
      string: ! '[{"task": {"archived_at": null,"assigned_user": {"initials": "TU","name": "Test
        User"},"assigned_user_id": 2334,"block_reason": null,"card_type_id":
        250953,"comments_count": 0,"created_at":
        "2013-05-02T15:12:32+01:00","custom_field_1": null,"custom_field_2":
        null,"custom_field_3": null,"custom_field_4": null,"custom_field_5":
        null,"description": "","due_date": null,"external_id": null,"external_link":
        null,"id": 1568915,"name": "Card 1","position": 4,"priority": 0,"size_estimate":
        "1.0","subtask_search_tags": null,"subtasks_completed_count":
        0,"subtasks_count": 0,"swimlane_id": 77669,"tags": "","updated_at":
        "2013-05-02T16:19:34+01:00","workflow_stage_id": 284735}},{"task":
        {"archived_at": null,"assigned_user": {"initials": "AU","name": "Another
        User"},"assigned_user_id": 2344,"block_reason": null,"card_type_id":
        250953,"comments_count": 0,"created_at":
        "2013-05-02T15:12:46+01:00","custom_field_1": null,"custom_field_2":
        null,"custom_field_3": null,"custom_field_4": null,"custom_field_5":
        null,"description": "","due_date": null,"external_id": null,"external_link":
        null,"id": 1568917,"name": "Card 2","position": 3,"priority": 0,"size_estimate":
        "1.0","subtask_search_tags": null,"subtasks_completed_count":
        0,"subtasks_count": 0,"swimlane_id": 77669,"tags": "","updated_at":
        "2013-05-02T16:19:33+01:00","workflow_stage_id": 284735}},{"task":
        {"archived_at": null,"assigned_user_id": null,"block_reason":
        null,"card_type_id": 250953,"comments_count": 0,"created_at":
        "2013-05-02T15:13:23+01:00","custom_field_1": null,"custom_field_2":
        null,"custom_field_3": null,"custom_field_4": null,"custom_field_5":
        null,"description": "","due_date": null,"external_id": null,"external_link":
        null,"id": 1568919,"name": "Interests Searching/Niching","position":
        1,"priority": 0,"size_estimate": "1.0","subtask_search_tags":
        null,"subtasks_completed_count": 0,"subtasks_count": 0,"swimlane_id":
        77669,"tags": "","updated_at": "2013-05-02T15:13:23+01:00","workflow_stage_id":
        284735}}]'
  recorded_at: Fri, 10 May 2013 14:35:52 GMT
recorded_with: VCR 2.4.0
